@smartphones: ~"only screen and (max-width: 600px)";

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.home {
  max-width: 900px;
  margin: auto;
  @media @smartphones {
    
  }
}