/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.homepage {
  max-width: 900px;
  margin: auto;
}
.homepage .home .home__grid__container {
  width: 100%;
  margin: inherit;
}
.homepage .home .home__grid__container .home__grid {
  padding: 0;
}
.homepage .home .home__grid__container .home__grid .home__paper .home__avatar {
  width: 300px;
  height: 300px;
}
.homepage .home .home__grid__container .home__grid .home__paper .home__avatar img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
@media only screen and (max-width: 479px) {
  .homepage {
    max-width: 100%;
  }
  .homepage .home .home__grid__container {
    width: 100%;
    margin: inherit;
  }
  .homepage .home .home__grid__container .home__grid {
    padding: 0;
  }
  .homepage .home .home__grid__container .home__grid .home__paper .home__avatar {
    width: 150px;
    height: 150px;
  }
  .homepage .home .home__grid__container .home__grid .home__paper .home__avatar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 480px) {
  .homepage {
    max-width: 100%;
  }
  .homepage .home .home__grid__container {
    width: 100%;
    margin: inherit;
  }
  .homepage .home .home__grid__container .home__grid {
    padding: 0;
  }
  .homepage .home .home__grid__container .home__grid .home__paper .home__avatar {
    width: 300px;
    height: 300px;
  }
  .homepage .home .home__grid__container .home__grid .home__paper .home__avatar img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1600px) {
  .homepage {
    max-width: 65%;
  }
  .homepage .home .home__grid__container {
    width: 100%;
    margin: inherit;
  }
  .homepage .home .home__grid__container .home__grid {
    padding: 0;
  }
  .homepage .home .home__grid__container .home__grid .home__paper .home__avatar {
    width: 450px;
    height: 450px;
  }
  .homepage .home .home__grid__container .home__grid .home__paper .home__avatar img {
    border-radius: 50%;
    width: 450px;
    height: 450px;
  }
  .homepage .home .home__grid__container .home__grid .home__paper .home__header {
    font-size: 2rem;
  }
}
@media (min-width: 2560x) {
  .homepage {
    max-width: 60%;
  }
  .homepage .home .home__grid__container {
    width: 100%;
    margin: inherit;
  }
  .homepage .home .home__grid__container .home__grid {
    padding: 0;
  }
  .homepage .home .home__grid__container .home__grid .home__paper .home__avatar {
    width: 650px;
    height: 650px;
  }
  .homepage .home .home__grid__container .home__grid .home__paper .home__avatar img {
    border-radius: 50%;
    width: 650px;
    height: 650px;
  }
}
.about__image {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  border: 0;
  border-radius: 50%;
}
.navbar {
  margin-bottom: 50px;
}
@media only screen and (max-width: 479px) {
  .navbar {
    min-width: 100%;
    max-width: 100%;
  }
  .navbar .appbar .appbar__container {
    width: 100%;
  }
  .navbar .appbar .appbar__container .appbar__title {
    font-size: 16px;
  }
  .navbar .appbar .appbar__container .appbar__button {
    font-size: 9px;
    margin: 5px;
    min-width: 25px;
  }
  .navbar button {
    font-size: 10px;
    padding: 0;
  }
}
.action__button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}
.projects {
  max-width: 900px;
  margin: auto;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
